PORT=4021
APP_ORIGIN=http://localhost:3000
PUBLIC_PROJECT_NAME=EQLTY
PUBLIC_SERVICE_SLUG=eqlty-api
DEMO_MODE=true
REQUIRE_LIVE_DATA=false
ROBINHOOD_CHAIN_ID=4663
ROBINHOOD_MAINNET_RPC_URL=
UNISWAP_CHAIN_ID=4663
UNISWAP_API_KEY=
UNISWAP_API_URL=https://trade-api.gateway.uniswap.org/v1
INPUT_TOKEN_ADDRESS=0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168
SWAPPER_ADDRESS=
UNISWAP_UNIVERSAL_ROUTER_ADDRESS=0x8876789976decbfcbbbe364623c63652db8c0904
UNISWAP_PERMIT2_ADDRESS=0x000000000022D473030F116dDEE9F6B43aC78BA3
EQLTY_VAULT_ADDRESS=
EQLTY_VAULT_STRATEGY_ID=1
EQLTY_TRADER_PRIVATE_KEY=
EQLTY_RISK_SIGNER_PRIVATE_KEY=
EQLTY_EXECUTION_MODE=disabled
EQLTY_EXECUTION_CONFIRM=
EQLTY_MAX_INPUT_AMOUNT=1000000
MAINNET_QUOTE_AMOUNT=1000000
REFERENCE_MAX_AGE_SECONDS=86400
GRAPH_RISK_URL=
EQLTY_GRAPH_ADAPTER_URL=
EQLTY_GRAPH_ACCESS_TOKEN=
GRAPH_API_TOKEN=
GRAPH_MAX_PROVIDER_AGE_SECONDS=90
GRAPH_MAX_SWAP_AGE_SECONDS=3600
GRAPH_MAX_PRICE_DEVIATION_BPS=1000
GRAPH_MAX_LAG_BLOCKS=25
EQLTY_SESSION_SECRET=
SESSION_TTL_SECONDS=3600
PERKOS_API_URL=https://api.perkos.xyz
PERKOS_FIREBASE_API_KEY=
PERKOS_FLEET_MODE=preview
PERKOS_HERMES_IMAGE_TAG=
EQLTY_ONECLAW_MIN_AMOUNT_USDG=3000000
ENS_ROOT_NAME=
EQLTY_ENS_RECORDS_CHAIN_ID=84532
EQLTY_ENS_RECORDS_RPC_URL=
EQLTY_ENS_L2_REGISTRY_ADDRESS=
EQLTY_ENS_REGISTRAR_PRIVATE_KEY=
ENS_POLICY_VERSION=1
ENS_POLICY_TTL_SECONDS=604800
ENS_POLICY_ALLOWED_TICKERS=NVDA,AMZN,ORCL
ENS_POLICY_MAX_AMOUNT_PER_TRADE=1000000
ENS_POLICY_PAUSED=false
ENS_POLICY_MAX_DEVIATION_BPS=300
ENS_POLICY_MIN_LIQUIDITY_USD=50000
ENS_POLICY_MAX_ORACLE_AGE_SECONDS=300
ENS_SCOUT_ADDRESS=
ENS_RISK_ADDRESS=
ENS_TRADER_ADDRESS=
ENS_AUDITOR_ADDRESS=
