EQLTY_GRAPH_API_TOKEN=
EQLTY_GRAPH_RPC_URL=
EQLTY_GRAPH_PROVIDER=robinhood.substreams.pinax.network:443
EQLTY_GRAPH_LOOKBACK_BLOCKS=5000
EQLTY_GRAPH_MAX_PROVIDER_AGE_SECONDS=90
EQLTY_GRAPH_MAX_SWAP_AGE_SECONDS=86400
